.menubar
{
    display: flex;
    background-color: cyan;
    border :2px solid darkblue;
    padding: 16px;
    align-content:flex-end;
    justify-content: end;
}

.menubar > div{
    padding:5px
  /*  flex:1;*/
}
.projects_box
{
    display:flex;
    flex-direction: column;
}

.projects_box>p
{
    display: flex;
    flex-direction: row;
    
}
img.stockmaster_trading
{
    width: 400px;
    float:right;
  margin:0 0 0 15px;
}